/*
* Author: BLT
* Project Name: NYTimes Search CSS
* Version:1
* Date: 08.19.17
* URL: https://itsokayitsofficial.github.io/NYTimesSearch/
*/


/*=========
Base Styles
=========*/

body {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    background: url(https://media.giphy.com/media/ZPXRNopHrMcMw/giphy.gif) no-repeat;
    background-size: cover;
}


/* Fonts */


/* Elements */


/* Classes */


/* IDs */


/*=========
Nav
=========*/


/*=========
Header
=========*/


/*=========
Footer
=========*/
